/backup
/.byobu/*
!/.byobu/.tmux.conf
!/.byobu/keybindings.tmux
/.config/*
!/.config/fish
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fish_plugins
!/.config/fish/functions/fish_prompt.fish
!/.config/nvim
!/.config/mise
/.vim/bundle/*
