[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	br = branch
	ci = commit
	co = checkout
	ctags = !.git/hooks/ctags
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -D %
	delete-merged-remote-branches = !git branch -a --merged | grep -v master | grep remotes/origin| sed -e 's% *remotes/origin/%%' | xargs -I% git push origin :%
	fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
	heroku = "!f () { git remote add heroku git@heroku.com:$1.git; }; f"
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $2 >> .gitignore
	push-branches-except-master = !git branch | sed -e 's/^*/ /' | grep -v \"^  master$\" | xargs -I% git push origin %
	sed =  "!f () { git grep -l $1 | xargs sed -i s/$1/$2/g; }; f"
	st = status
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[merge]
	tool = vimdiff
[init]
	templatedir = ~/.git_template
